.contadorProductos {
    display: flex;
    justify-content: center;

    button.btn.btn-outline-danger.btn-sm {
        margin: 5px;
    }

    p {
        size: 20px;
    }
}
.derecha{
    text-align: end;
}
.card{
    background-color: rgb(216, 216, 216);
}